body{
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: arial;
}
#page-container {
  position: relative;
  min-height: 100vh;
}
header{
    background-color: rgba(255, 192, 192, 0.72);
    width: 100%;
    height: 30%;
    position: relative;
}
.logo{
    width: 10%;
    position: relative;
    left: 35%;
    top: 45px;
}
#navbar{
    width: 20%;
    height: 5%;
    position: relative;
    left: 45%;  
}
#navbar li{
    list-style: none;
    display: inline-block;
    font-size: 20.5px;
    letter-spacing: 0.5px;
    padding-left: 9px;
}
#navbar a:link{
    text-decoration: none;
    color: black;
}
#navbar a:visited{
    color: black;
    text-decoration: none;
}
#navbar a:hover{
    color: #908d8d;
}
main{
    background-color: rgba(216, 216, 216, 0.19);
    padding-bottom: 30px;
}
h1{
    margin-left: 26%;
}
.welcome-letter{
    width: 45%;
    position: relative;
    left: 26%;  
}
.button{
    font-size: 25px;
    margin-left: 25%;
    padding: 20px;
    display: inline-block;
    background: rgba(255, 255, 255, 0.72);
    padding: 20px;
    border-radius: 6px;
    border: none;
    transition: all 0.4s ease 0s;
    
}
.button a:link, a:visited{
    background color: white;
    color: black;
    text-decoration: none;
}
.button a:hover, a:active{
    background: #ffffff;
    letter-spacing: 0.5px;
    //* to make it compatible with different platoforms we use webkit and moz *//
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.4s ease 0s;
}
h1 {
    margin-left: 37%;
    letter-spacing: 2px;
}
#displayDate label{
    margin-left: 40%;
}
#displayTime {
    margin-left: 40%;
}
#radio-filter {
    margin-left: 40%;
}
/*code structure for table taken from Web App Developement practical 7 week 8 */
table, th, td {
    border-bottom: 0.5px solid #848484;
    border-left: 0.5px solid #f1f1f1;
    border-top: 0.5px solid #505050;
    border-right: 0.5px solid #848484;
    border-collapse: collapse;
    padding-right: 6px;
    padding-left: 6px; 
}
table {
    width: 100%;
}

th {
    background-color: #4c6eaf;
    color: white;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 12px;
}
      
table tr:nth-child(odd) {
    background-color: #f1f1f1;
}

table tr:nth-child(even) {
    background-color: #ffffff;
}
button {
    float: right;
}
#submissionInfo a:link, a:visited{
    color: #000000;
    text-decoration: none;
}
#submissionInfo details {
    margin-top: 3%;
}
#submissionInfo summary {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
}
#submissionInfo li {
    padding: 3px;
}
#footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(255, 192, 192, 0.72);
    float: right;
}